html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Exo', sans-serif;
  color: #fff;
}

.page-title-bottom, .story-title, .story-description {
  font-family: 'Noto Sans JP', sans-serif;
}

img {
  vertical-align: bottom;
}

.section-inner {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.section-title {
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

.sp-img {
  display: none;
}

.bgParallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.bgParallax::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 50%);
  background-size: 4px 4px;
}

.play-btn {
  display: block;
  width: 164px;
  color: #000;
  background-color: #00FFF5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 15px 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 30px;
}

.header-nav .header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.header-nav .header-list .header-item {
  margin-right: 30px;
  color: #00FFF5;
}

.header-nav .header-list .header-item:last-of-type {
  margin-right: 0;
  color: #000;
}

.nav-sound {
  display: flex;
  color: #BFBFBF;
  position: absolute;
  right: 30px;
  top: 100px;
}

.nav-sound .sound {
  margin-right: 8px;
  font-size: 1.3rem;
}

.fv {
  display: flex;
}

.fv .fv-left-wrapper {
  margin-top: 180px;
}

.fv .page-title-above {
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: .2em;
  margin-bottom: 30px;
}

.fv .page-title {
  font-size: 14rem;
  line-height: .9;
  letter-spacing: .05em;
}

.fv .page-title-bottom {
  font-size: 3.4rem;
  letter-spacing: 1em;
  margin-top: 10px;
}

.fv .play-btn {
  width: 230px;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 50px;
}

.fv .fv-right-wrapper {
  text-align: right;
}

.fv .fv-right-wrapper .news {
  font-size: 1.4rem;
  font-weight: bold;
  border: 1px solid #00FFF5;
  display: inline-block;
  width: 360px;
  padding: 8px 0;
  white-space: nowrap;
}

.fv .fv-right-wrapper .news .update {
  color: #00FFF5;
  margin-left: 20px;
}

.fv .scroll {
  writing-mode: tb-rl;
  font-size: 1.3rem;
  font-weight: bold;
  color: #00FFF5;
}

.story-section {
  background-image: url(../assets/img/bg_story.jpg);
  background-size: cover;
  background-position: center;
  padding: 120px 0 123px;
}

.story-section .story-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.story-section .story-container:first-of-type {
  margin-bottom: 83px;
}

.story-section .description-container {
  width: 50%;
}

.story-section .section-title {
  color: #00FFF5;
  position: relative;
}

.story-section .section-title::before {
  content: '';
  width: 80px;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: -22px;
  background-color: #00FFF5;
}

.story-section .story-title {
  font-size: 3.2rem;
  margin: 70px 0 30px;
  font-weight: 900;
}

.story-section .story-description {
  font-weight: 500;
}

.story-section .story-image {
  transform: skew(-5deg, 0deg);
  box-shadow: 7px 7px #00FFF5;
  width: 40%;
}

.story-section .story-image:first-of-type {
  transform: skew(5deg, 0deg);
  box-shadow: -7px 7px #00FFF5;
}

.play {
  padding: 100px 0;
}

.play::after {
  background-image: url(../assets/img/bg-line-bottom.svg);
}

.play .invite-message {
  font-size: 6.4rem;
  letter-spacing: .05em;
  line-height: 1;
  text-align: center;
}

.play .play-btn {
  width: 230px;
  font-size: 1.8rem;
  letter-spacing: .05em;
  margin: 25px auto 0;
  font-weight: bold;
}

.trailer-section {
  background-color: #00FFF5;
  padding: 110px 0;
}

.trailer-section .section-title {
  color: #000;
  position: relative;
  margin-bottom: 70px;
}

.trailer-section .section-title::before {
  content: '';
  width: 80px;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: -22px;
  background-color: #000;
}

.trailer-section .trailer-video {
  padding-bottom: 56.25%;
  height: 0;
  position: relative;
}

.trailer-section .trailer-video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  background-color: #000;
}

.footer .footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 110px;
}

.footer .footer-inner .footer-list {
  display: flex;
  align-items: center;
}
