@media only screen and (max-width:600px) {
    $main-color: #00FFF5;

    // base_sp
    body {
        font-size: 1.5rem;
    }
    .section-title {
        font-size: 5rem;
    }
    .pc-img {
        display: none;
    }
    .pc {
        display: none;
    }
    .sp-img {
        display: block;
    }
    .sp {
        display: block;
    }
    .section-bottom {
        bottom: -1px;
    }
    .sp-btn {
        display: block;
    }


    // header_sp
    .header-inner {
        height: 60px;
        padding: 0 20px;
    }
    .header-nav {
        .header-list {
            .header-item {
                margin-right: 20px;
                &:nth-of-type(2) {
                    margin-right: 0;
                }
                &:last-of-type {
                    display: none;
                }
            }
        } 
    }
    .nav-sound {
        right: 20px;
        top: 66px;
        .sound {
            margin-right: 6px;
        }
    }   


    //fv_sp
    .fv {
        .page-title-above {
            font-size: 2.2rem;
            margin-bottom: 20px;
        }
        .page-title {
            font-size: 7.6rem;
        }
        .page-title-bottom {
            font-size: 2.2rem;
            letter-spacing: .6em;
        }
        .play-btn {
            width: 170px;
            font-size: 1.6rem;
        }

        .fv-right-wrapper {
            width: 200px;
            bottom: 50px;
            right: 20px;

            .news {
                font-size: 1.2rem;
                padding: 8px 0 8px 100%;            
                .update {
                    margin-left: 10px;
                }
            }
        }
        .scroll {
            bottom: 29px;
            left: 34px;
            &::before {
                content: '';
                left: -13px;
                top: -9px;
            }
            &::after {
                content: '';
                left: -8px;
                bottom: -8px;
            }
        }
    }


    //story_sp
    .story-section {
        padding: 50px 0 43px;
        .story-container {
            display: flex;
            flex-direction: column;
            gap: 0;
            width: 100%;
            &:first-of-type {
                margin-bottom: 53px;
            }
            &:last-of-type {
                flex-direction: column-reverse;
            }
        }

        .description-container {
            width: 100%;
        }

        .section-title {
            &::before {
                content: '';
                width: 60px;
                height: 6px;
                position: absolute;
                bottom: -15px;
            }
        }
        .story-title {
            font-size: 2.4rem;
            margin: 45px 0 20px;
        }

        .story-image {
            width: 85%;
            margin-top: 30px;
        }
    }

    //play_sp
    .play {
        padding: 70px 0;
        .invite-message {
            font-size: 3.2rem;
        }

        .play-btn {
            width: 170px;
            font-size: 1.6rem;
            margin: 20px auto 0;
        }
    }


    //trailer_sp
    .trailer-section {
        padding: 50px 0;
        .section-title {
            margin-bottom: 45px;
            &::before {
                content: '';
                width: 60px;
                height: 6px;
                bottom: -15px;
            }
        }
    }

    //footer_sp
    .footer {
        padding-top: 40px;
        .footer-inner {
            flex-direction: column;
            padding: 0 20px;
            height: auto;

            .footer-text {
                margin: 30px 0 44px;
                font-size: 1.1rem;
            }

            .play-btn {
                width: 100%;
                font-size: 1.6rem;
                margin-bottom: 20px;
            }
        }
    }

}
