$main-color: #00FFF5;

// base
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Exo', sans-serif;
    color: #fff;
}
.page-title-bottom, .story-title, .story-description {
    font-family: 'Noto Sans JP', sans-serif;
}
img {
    vertical-align: bottom;
}
.section-inner {
    max-width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}
.section-title {
    font-size: 8rem;
    font-weight: bold;
    letter-spacing: .05em;
    line-height: 1;
}
a {
    color: inherit;
    text-decoration: none;
}
.sp-img {
    display: none;
}
.bgParallax {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    &::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient( 45deg, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 50%);
        background-size: 4px 4px;
    }
}
.play-btn {
    display: block;
    width: 164px;
    color: #000;
    background-color: $main-color;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
    text-align: center;
    padding: 15px 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.section-top {
    position: absolute;
    left: 0;
    top: 0;
}

.section-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
}


// header
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 30px;
}
.header-nav {
    .header-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        .header-item {
            margin-right: 30px;
            color: $main-color;
            &:last-of-type {
                margin-right: 0;
                color: #000;
            }
        }
    } 
}
.nav-sound {
    display: flex;
    // justify-content: space-between;
    // text-align: right;
    color: #BFBFBF;
    // margin-top: 21px;
    position: absolute;
    right: 30px;
    top: 100px;
    // font-size: 1.3rem;
    .sound {
        margin-right: 8px;
        font-size: 1.3rem;
        // vertical-align: text-bottom;
    }
}       


//fv
.fv {
    display: flex;
    position: relative;
    .fv-left-wrapper {
        margin-top: 180px;
    }
    .page-title-above {
        font-size: 3.2rem;
        font-weight: bold;
        letter-spacing: .2em;
        margin-bottom: 30px;
    }
    .page-title {
        font-size: 14rem;
        line-height: .9;
        letter-spacing: .05em;
    }
    .page-title-bottom {
        font-size: 3.4rem;
        letter-spacing: 1em;
        margin-top: 10px;
    }
    .play-btn {
        width: 230px;
        font-size: 1.8rem;
        font-weight: bold;
        margin-top: 50px;
    }

    .fv-right-wrapper {
        text-align: right;
        .news {
            font-size: 1.4rem;
            font-weight: bold;
            border: 1px solid $main-color;
            display: inline-block;
            width: 360px;
            padding: 8px 0;
            white-space: nowrap;
            .update {
                color: $main-color;
                margin-left: 20px;
            }
        }
    }
    .scroll {
        writing-mode: tb-rl;
        font-size: 1.3rem;
        font-weight: bold;
        color: $main-color;
        position: absolute;
        bottom: 47px;
        // left: 15px; 
        left: 30px;
        &::after {
            content: '';
            // border-left: 1px solid $main-color;
            // border-right: 1px solid $main-color;
            // width: 50px;

            left: -5px;
            bottom: -8px;
            position: absolute;
            background-color: $main-color;
            height: 50px;
            width: 1px;
            &::after {
                content: '';
                width: 10px;
                height: 10px;
                background-color: $main-color;
                border
            }
        }
    }
}


//story
.story-section {
    background-image: url(../assets/img/bg_story.jpg);
    background-size: cover;
    background-position: center;
    padding: 120px 0 123px;
    .story-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
        &:first-of-type {
            margin-bottom: 83px;
        }
    }

    .description-container {
        width: 50%;
    }

    .section-title {
        color: $main-color;
        position: relative;
        &::before {
            content: '';
            width: 80px;
            height: 8px;
            position: absolute;
            left: 0;
            bottom: -22px;
            background-color: $main-color;
        }
    }
    .story-title {
        font-size: 3.2rem;
        margin: 70px 0 30px;
        font-weight: 900;
    }

    .story-description {
        font-weight: 500;
    }

    .story-image {
        transform: skew(-5deg, 0deg);
        box-shadow: 7px 7px $main-color;
        width: 40%;
        &:first-of-type {
            transform: skew(5deg, 0deg);
            box-shadow: -7px 7px $main-color;
        }
    }
}

//play
.play {
    padding: 100px 0;
    position: relative;
    // &::after {
    //     content: '';
    //     background-image: url(../assets/img/bg-line-bottom.svg);
    //     position: absolute;
    //     bottom: 0;
    //     right: 0;
    // }
    .invite-message {
        font-size: 6.4rem;
        letter-spacing: .05em;
        line-height: 1;
        text-align: center;
    }

    .play-btn {
        width: 230px;
        font-size: 1.8rem;
        letter-spacing: .05em;
        // line-height: 1.1;
        margin: 25px auto 0;
        font-weight: bold;
    }

    // .section-bottom {
    //     position: absolute;
    //     right: 0;
    //     bottom: 0;
    // }
}


//trailer
.trailer-section {
    background-color: $main-color;
    padding: 110px 0;
    .section-title {
        color: #000;
        position: relative;
        margin-bottom: 70px;
        &::before {
            content: '';
            width: 80px;
            height: 8px;
            position: absolute;
            left: 0;
            bottom: -22px;
            background-color: #000;
        }
    }
    .trailer-video {
        padding-bottom: 56.25%;
        height: 0;
        position: relative;
        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

//footer
.footer {
    background-color: #000;
    // height: 110px;
    .footer-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        height: 110px;

        .footer-list {
            display: flex;
            align-items: center;
        }
    }
}
