// base
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Exo', sans-serif;
    color: #fff;
}
.page-title .story-title, .story-description {
    font-family: 'Noto Sans JP', sans-serif;
}
