// base
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Exo', sans-serif;
    color: #fff;
}
.page-title-bottom, .story-title, .story-description {
    font-family: 'Noto Sans JP', sans-serif;
}
img {
    vertical-align: bottom;
}
.section-inner {
    padding: 0 20px;
}
